@import "../../mediaQuery.scss";

.inputContainer {
  position: relative;
  max-width: 620px;
  height: 60px;
  border-radius: 20px;
  border: 1px;
  background: rgba(255, 255, 255, 0.2);

  @include respond(small) {
    height: 40px;
    border-radius: 8px;
  }

  input {
    margin: 23px 0 0 22px;
    border: 0;
    padding: 0;
    background: none;
    outline: none;
    font-size: 16px;
    line-height: 22px;
    color: var(--color);
    width: 100%;

    @include respond(small) {
      font-size: 12px;
      line-height: 14px;
      margin: 18px 0 0 11px;
    }
  }
}

.title {
  position: absolute;
  top: 8px;
  left: 22px;
  color: var(--title-color);
  font-size: 10px;
  line-height: 14px;
  height: 18px;

  @include respond(small) {
    top: 4px;
    left: 11px;
    font-size: 9px;
    line-height: 11px;
  }
}

.button {
  background-color: var(--search-btn-color);
  width: 60px;
  height: 60px;
  border-radius: 20px;
  cursor: pointer;
  @include respond(small) {
    width: 40px;
    height: 40px;
    border-radius: 8px;
  }
}

.svgIcon {
  color: white;
  transform: scale(0.708383);
  margin: 7px;
  @include respond(small) {
    transform: scale(0.472291);
    margin: -4px;
  }
}
