@import "../../../mediaQuery.scss";

.searchHistoryContainer {
  border-radius: 16px;
  background: var(--search-history-background);
  display: flex;
  padding: 13px;
  width: 100%;
  box-sizing: border-box;
  gap: 10px;
  div {
    line-height: 34px;
    @include respond(small) {
      line-height: 17px;
    }
  }

  @include respond(small) {
    font-size: 14px;
  }
}

.context {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  @include respond(small) {
    flex-direction: column;
    line-height: 17px;
  }
}

.cityAndCountry {
  flex: 1;
  white-space: nowrap;
  padding-right: 8px;
}

.searchDateTime {
  width: 135px;
  font-size: 14px;
  color: var(--search-datetime-color);

  @include respond(small) {
    font-size: 10px;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @include respond(small) {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  div {
    cursor: pointer;
    border-radius: 17px;
    background: var(--button-background);
    border: var(--button-border);
    box-shadow: var(--button-box-shadow);
    box-sizing: border-box;
    height: 34px;
    width: 34px;
  }
}

.svgIcon {
  color: var(--button-svg-color);
  transform: scale(0.3333);
  margin: var(--button-img-margin);
}
